	<div style= "font-size: 40px; font-family: helvetica; text-align: center">
  	<a href="new_game">New Game</a> 
  </div>

  <div style="width:50px; height:150px; background-color:#80CCE6"></div>

  <div>
  	<center><img src= "/images/battleship.jpg" width="35%" height="25%"></center>
  </div>

