<div>
  <form action="/new_game">
    <% if @visitor %>  
    	Hello, <%= @visitor %>!
  	<% else %>
	    What's your name?
	    <input type="text" name="name">
	    <input type="submit" value="submit">
	  <% end %>
  </form>
</div>