<div style= "font-size: 20px; font-family: helvetica; text-align: center">
	<h2>Player 2</h2> 

  <form action= "/placing_player2_ships">
      <% if @coord %>
        <p>Aircraft carrier placed</p>
        <a href="player1_fire">Start firing</a>
      <% else %>
        Place Aircraft Carrier
        <input type="text" name="coord">
        <input type="submit" value="vertical">
        <input type="submit" value="horizontal">
      <% end %>
  </form>
</div>
