<div>
  <p>placed ship: <%= @placed_ac %></p>
</div>

<div style= "font-size: 20px; font-family: helvetica; text-align: center">
	
  <h2>Player 1</h2> 
  <form action="/placing_player1_ships" method="post">
    Place Aircraft Carrier
    <input type="text" name="coord_ac">
    <select name="orientation_ac">
      <option value="horizontally">Horizontally</option>
      <option value="vertically">Vertically</option>
    </select>
    <br>Place Battleship
    <input type="text" name="coord_bs">
    <select name="orientation_bs">
      <option value="horizontally">Horizontally</option>
      <option value="vertically">Vertically</option>
    </select>
    <br>Place Destroyer
    <input type="text" name="coord_d">
    <select name="orientation_d">
      <option value="horizontally">Horizontally</option>
      <option value="vertically">Vertically</option>
    </select>
    <br>Place Submarine
    <input type="text" name="coord_s">
    <select name="orientation_s">
      <option value="horizontally">Horizontally</option>
      <option value="vertically">Vertically</option>
    </select>
    <br>Place Patrol Boat
    <input type="text" name="coord_pb">
    <select name="orientation_pb">
      <option value="horizontally">Horizontally</option>
      <option value="vertically">Vertically</option>
    </select>

<br><input type="submit">
  </form>

</div>

